In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('imdb.csv')
df.head(2)

                                                text  class
0  I have to admit when I went to see this movie,...      0
1  I signed in just to comment on how awfully stu...      0

In [36]:
def tokenize(text):
    return text.split(" ")
import nltk
from nltk.corpus import stopwords
from nltk import tokenize
# nltk.download('stopwords')
stopwords = stopwords.words(u'english') + ['could']
filtered_stopwords = [sw for sw in stopwords if sw not in ['not', 'most', 'no', 'too']]

def filter_out(tokens):
    return [token for token in tokens if \
            token not in filtered_stopwords and \
            token.isalpha() and \
            len(token) > 1]

In [37]:
import re

REPLACE_NO_SPACE = re.compile("[.;:!\?,\"()\[\]]")
REPLACE_WITH_SPACE = re.compile("(<br\s*/><br\s*/>)|(\-)|(\/)")

def with_replace(text):
    return REPLACE_WITH_SPACE.sub(" ", REPLACE_NO_SPACE.sub("", text))

In [38]:
tokenizer = tokenize.WordPunctTokenizer()

In [41]:
x = df.iloc[1, 0]

In [47]:
corpus = []
for i,row in df.iterrows():
    text = row['text']
    corpus.append(' '.join(filter_out(tokenizer.tokenize(with_replace(text.lower())))))

In [48]:
df['clean_text'] = pd.Series(corpus)

In [49]:
df = df.loc[:, ['text', 'clean_text', 'class']]

In [50]:
df.head()

,text,clean_text,class
0,"I have to admit when I went to see this movie,...",admit went see movie really high expectations ...,0
1,I signed in just to comment on how awfully stu...,signed comment awfully stupid movie besides ri...,0
2,There is only one thing essential to thorough ...,one thing essential thorough appreciation indi...,0
3,"Of all movies (and I'm a film graduate, if tha...",movies film graduate worth anything worst movi...,0
4,In my eyes this is almost the perfect example ...,eyes almost perfect example hollywood ego beat...,0

In [51]:
df.to_csv('clean_imdb.csv', index=False)